{% extends 'header.html' %}
{% block content %}
{% load staticfiles %}
<div class="men">
    <div class="container">
   	  <div class="grid_1">
   	    <img src="{% static 'admin/images/lucchetto.png' %}" alt=""/>
   	        <br><br><br>
	   	    <p><h1>LE TUE PRENOTAZIONI</h1>
	   	    <p>Enjoy!</p>
	   	    <br><br>

    {% for iscritto in iscritti %}
    {% if iscritto.username == user.username %}
    <div class="container">
    <div class="col-md-4 sidebar_men">
    <ul class="product-categories color">
    <li class="cat-item cat-item-60"><h4>{{ iscritto.nome_torneo }}</h4></li>
    <li class="cat-item cat-item-63"><p>Luogo dell'evento: </p>{{ iscritto.campo_torneo }}</li>
    <div class="account-in">
    {% endif %}
    {% endfor %}

    </div>
</div>
</div>

{% endblock content %}