{% extends 'header.html' %}
{% block content %}
{% load staticfiles %}
<div class="men">
   	 <div class="container">
   	  <div class="grid_1">
   	  <img src="{% static 'admin/images/ok.png' %}" alt=""/>
   	  <br><br><br>
	   	  <p><h1>COMPLIMENTI!</h1>
	   	  <p>Hai completato la procedura!</p>
        <div class="container">
	   	      <br><br>
   	        <a class="b-home" href="http://johnfoureyes.pythonanywhere.com/Tornei/agenda">Vai alla tua Agenda</a>
      </div>
      </div></div></div>
{% endblock content %}