<!DOCTYPE HTML>
<html>
<head>
<title>Make a Match! Registrati al nostro sito web per la migliore esperienza di gioco mai vista.
Con un solo click, da smartphone o tablet, potrai comodamente prenotare il tuo campo. Join us!</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Watches Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
{% load staticfiles %}
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<link href="{% static 'admin/css/bootstrap.css' %}" rel='stylesheet' type='text/css' />
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<!-- Custom Theme files -->
<link href="{% static 'admin/css/style.css' %}" rel='stylesheet' type='text/css' />
<!-- Custom Theme files -->
<!--webfont-->
<link href='//fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Dorsa' rel='stylesheet' type='text/css'>

<script type="text/javascript" src="{% static 'admin/js/jquery-1.11.1.min.js' %}"></script>
<!-- start menu -->
<link href="{% static 'admin/css/megamenu.css' %}" rel="stylesheet" type="text/css" media="all" />
<script type="text/javascript" src="{% static 'admin/js/megamenu.js' %}"></script>
<script>$(document).ready(function(){$(".megamenu").megamenu();});</script>
<script src="{% static 'admin/js/jquery.easydropdown.js' %}"></script>
<script src="{% static 'admin/js/simpleCart.min.js' %}"> </script>
</head>
<body>
	<div class="men_banner">
   	  <div class="container">
   	  	<div class="header_top">
   	  	   <div class="header_top_left">
	          <div class="clearfix"> </div>
	       </div>
           <div class="header_top_right">
		  	 <div class="lang_list">
				<select tabindex="4" class="dropdown">
					<option value="" class="label" value="">User</option>
					<option value="1">Calc</option>
					<option value="2">Gest</option>
				</select>
			 </div>
			 <ul class="header_user_info">
			  <a class="login" href="http://johnfoureyes.pythonanywhere.com/loggati/pagina_login">
				<i class="user"> </i>
				<li class="user_desc">Login</li>
			  </a>
			  <div class="clearfix"> </div>
		     </ul>
		    <!-- start search-->
				<!-- start search
				<div class="search-box">
				   <div id="sb-search" class="sb-search">
					  <form>
						 <input class="sb-search-input" placeholder="Enter your search term..." type="search" name="search" id="search">
						 <input class="sb-search-submit" type="submit" value="">
						 <span class="sb-icon-search"> </span>
					  </form>
				    </div>
				 </div>-->
				 <!----search-scripts---->
				 <script src="{% static 'admin/js/classie1.js' %}"></script>
				 <script src="{% static 'admin/js/uisearch.js' %}"></script>
				   <script>
					 new UISearch( document.getElementById( 'sb-search' ) );
				   </script>
					<!----//search-scripts---->
			 </div>
		     <div class="clearfix"> </div>
	    </div>
   		<div class="header_bottom">
	     <div class="logo">
		    <h1><a href="http://johnfoureyes.pythonanywhere.com/"><span class="m_1"></span>Make a Match</a></h1>
	     </div>
	    <div class="menu">
	     <ul class="megamenu skyblue">
				<li class="active grid"><a class="color3" href="http://johnfoureyes.pythonanywhere.com/">HOME</a></li>
				<li class="active grid"><a class="color3" href="http://johnfoureyes.pythonanywhere.com/registrazione/registrazione">REGISTRATI</a></li>
			</ul>
			</div>
	        <div class="clearfix"> </div>
	    </div>
	   </div>
   </div>

{% block content %}
{% endblock %}
<div class="footer">
   	 <div class="container">
   		<div class="cssmenu">
		   <ul>
			<li><a href="#">CHI SIAMO</a></li>
			<li><a href="#">NOTE LEGALI</a></li>
			<li><a href="contact.html">CONTATTACI</a></li>
		  </ul>
		</div>
		<ul class="social">
			<li><a href=""> <i class="instagram"> </i> </a></li>
			<li><a href=""><i class="fb"> </i> </a></li>
			<li><a href=""><i class="tw"> </i> </a></li>
	    </ul>
	    <div class="clearfix"></div>
   	</div>
   </div>
</body>
</html>