{% extends 'header.html' %}
{% block content %}
{% load staticfiles %}
<div class="men">
   	 <div class="container">
   	  <div class="grid_1">
   	  <br><br>
	   	  <p><h1>NOTE LEGALI</h1>
	   	  <p>Informativa sulla privacy</p>

   	      <img src="{% static 'admin/images/bila.jpg' %}" alt=""/>
   	  <br><br>

	   	  <p>Le informazioni, i testi, le foto, gli elementi multimediali, pubblicati e/o riprodotte in questo sito sono di proprietà di Make a Match.
	   	  Il layout, la grafica e le funzionalità del sito sono state progettate, realizzate e implementate dagli admin del sito web,
	   	  pertanto, la riproduzione del contenuto del sito (parziale o totale) è assolutamente vietata. E' grave proibito copiare, modificare,
	   	  riprodurre, distribuire, trasmettere e/o diffondere, senza autorizzazione scritta, il contenuto di questo sito web (codice sorgente, loghi,
	   	  grafica, foto, video, testi). Make a Match non garantisce, non garantirà, non è né potrà essere ritenuto responsabile di eventuali danni,
	   	  come le infezioni da virus informatici, che gli elaboratori dei visitatori dovessero subire a causa dell'accesso a questo sito.</p>
        <p>Si rammenta che l'accesso non autorizzato alle aree protette di Make a Match è assolutamente vietato dalla legge.
        Ogni informazione personale inviata tramite i form presenti nelle varie sezioni del sito web, unitamente all'indirizzo IP al browser e al sistema
        operativo utilizzato dal visitatore (dati utili alla sua identificazione), sarà trattata solo ed esclusivamente per mantenere il contatto con quest'ultimo
        fino a quando la prestazione non si intenderà conclusa; nessun altro uso ne sarà fatto. In ogni caso, chiunque abbia fornito i propri dati personali a Make a Match,
        potrà, in qualsiasi momento, richiedere di consultare, modificare o eliminare i propri dati esercitando i diritti di cui al Codice in Materia di
        Protezione dei Dati Personali (D.Lgs.196/30-06-2003), contattando gli admin.

	   	  <div class="container">
	   	      <br><br>
   	        <a class="b-home" href="http://johnfoureyes.pythonanywhere.com/">Vai alla Home</a>
      </div>
   </div>

      </div></div></div>
{% endblock content %}