{% extends 'header.html' %}
{% block content %}
{% load staticfiles %}
    <div class="account-in">
   	  <div class="container">
   	    <div class="col-md-7 account-top">
   	     <form name = "form" action = "/registrazione/registrati"
         method = "POST" >{% csrf_token %}
		   <div>
				<span>Nome*</span>
				<input type="text" placeholder="Nome" name="nome">
			</div>
		   <div>
				<span>Cognome*</span>
				<input type="text" placeholder="Cognome" name="cognome">
			</div>
		   <div>
		       <div>
				<span>Username*</span>
				<input type="text" placeholder="Username" name="username">
			</div>
				<span>Email*</span>
				<input type="email" placeholder="Email" name="email">
			</div>
			<div>
				<span class="pass">Password</span>
				<input type="password" placeholder="Password" name="password">
			</div>
				<input type="submit" value="Registrati">
		   </form>
	   </div>
   </div>
   </div>
{% endblock content %}